button {
    padding: 5px;
    border-radius: 15px;
    margin: 5px;
    background-color: antiquewhite;
    color: coral;
}

.button {
    padding: 5px;
    border-radius: 15px;
    margin: 5px;
    background-color: aquamarine;
    color: brown;
}